.wrapper {
  margin-top: 20px;
}

.panel {
    height: 140px;
    margin: 10px;
    border-radius: 20px;

    &.red {
      color: #fefefe;
      background: #DD2C00;
      border: 3px solid #B71C1C;
    }

    &.yellow {
      color: #1c1c1c;
      background: #FFDE03;
      border: 3px solid #DAA800;
    }
}

.panel-content {

  &__count {
    font-size: 5em;
    line-height: 1em;
    margin-left: 20px;
  }

  &__title {
    font-size: 2em;
    line-height: 1em;
    text-align: right;
    margin-right: 20px;
    overflow: hidden;
    height: 55px;
  }
}

.badge {

  padding: 5px 20px;
  border-radius: 10px;

  &__red {
    color: #fefefe;
    background: #DD2C00;
  }

  &__yellow {
    color: #1c1c1c;
    background: #FFDE03;
  }
}

.progress {
  height: 1.5rem;
  background-color: #a5a5a5;
  font-size: 1.5em;

  &-red {
    color: #fefefe;
    background: #DD2C00;
  }

  &-yellow {
    color: #1c1c1c;
    background: #FFDE03;
  }
}

